/* ============
   COLORS
   ============ */
:root {
    --purple-light: #af8ab4;
    --purple-medium: #7d5480;
    --purple-dark: #5d485f;
    --bg-main: #2e2c2e;
    --bg-black: #1c1c1c; 
    --text-main: #e6e6e6;
}

/* ===================
   GENERAL STYLES
   =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-size: 16px;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.5;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}


/* ================
   HEADER 
   ================ */

.main-header {
    background-color: var(--bg-black);
    display: flex;
    justify-content: space-between; /* Empuja el logo a la izquierda y el nav a la derecha */
    align-items: center;           
    padding: 1.5rem 5%;              
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;  
}
.main-header h1 {
    font-family: 'Aclonica';
    color: var(--purple-light);
    font-weight: 800;
    font-size: 1.8rem;
}

/* =====================
   NAVIGATION
   ===================== */

.main-nav ul {
    list-style: none;
    display: flex; 
    padding: 1rem;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
}

.main-nav a {
    background-color: var(--purple-light);
    text-decoration: none;
    color: var(--bg-black);
    padding: 0.8rem;
    border-radius: 999px;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.main-nav a:hover {
    background-color: var(--purple-medium);
    transform: none; 
    
}

/* =====================
   GENERAL SECTIONS
   ===================== */
.section, .home {
    padding: 2rem;
}

.home {
    background: var(--bg-main);
    color: var(--text-main);
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.subsection {
    padding: 1rem;
    color: var(--text-main);
    text-align: justify;
    margin-bottom: 1rem;
}

/* =====================
   HEADINGS
   ===================== */

h2 {
    font-family: 'Aclonica';
    text-align: center;
    font-size: 2rem;
    margin-bottom: rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    color: var(--purple-light);
    text-decoration: underline;
    margin-bottom: 1rem;
}


/* =====================
   TEXT & LISTS
   ===================== */
p {
    margin-bottom: 1rem;
    color: var(--text-main);
}

ul, ol {
    margin-left: 1.5rem;
}

li {
    margin-bottom: 0.4rem;
}

a {
    color: var(--purple-medium);
    text-decoration: none;
}

a:hover {
    color: var(--purple-light);
    text-decoration: none;
}


/* =============
   TABLE
   ============= */

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: var(--purple-light);
}


.table th, .table td {
    border-bottom: 1px solid var(--bg-main);
    padding: 0.8rem;
    text-align: center;
}

.table th {
    background-color: var(--purple-dark);
}

/* ========
   MEDIA
   ========= */
img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 1rem;
}

audio {
    width: 100%;
    margin: 1rem 0;
}

/* =========
   FORM
   ========= */

.form-contact {
    background-color: var(--purple-light);
    padding: 1rem;
    border-radius: 0.5rem;
}

.form-grup {
    margin-bottom: 1rem;
}

.form-grup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-grup input, .form-grup textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.75rem;
    border: 1px solid var(--purple-medium);
    font: inherit;
}

.form-grup input:focus,
.form-grup textarea:focus {
    outline: none;
    border-color: var(--purple-dark);
    box-shadow: 0 0 0 0.5px var(--bg-black);
}


/* =======================
   BOTON
   ======================= */

.btn {
    background-color: var(--purple-medium);
    color: var(--text-main);
    padding: 0.8rem 2rem;
    border-radius: 999px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(3px);
}

/* ===============
   FOOTER
   =============== */

.site-footer {
    margin-top: 3rem;
    background-color: var(--bg-black);
    color: var(--purple-light);
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
}

/* ===============
   MEDIA QUERIES
   =============== */
   /* Phones */
@media (max-width: 600px) {

  .main-header {
    flex-direction: column ;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    position: static;
  }

  .main-header h1 {
    font-size: 1.5rem;
  }

  .main-nav ul {
    flex: space-envenly;
    flex-direction: row;
    gap: 0.6rem;
    padding: 0;
  }

  .main-nav a {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
  }
  .section, .home, .subsection {
    padding: 0.2rem;
  }

  h2 { font-size: 1.5rem;}

  h3 { font-size: 1.25rem;}
  
  h4 { font-size: 1rem;}

  p { font-size: 0.95rem;}

  .table { font-size: 0.75rem;}

  .table th, .table td { padding: 0.3rem; }

  /* Tablets */
@media (max-width: 768px) {
    
  .main-header {
    flex-direction: column ;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    position: static;
  }

  .main-nav ul {
    flex: space-envenly;
    flex-direction: row;
    gap: 0.6rem;
    padding: 0;
  }

  .main-nav a {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
  }
  }

}
